<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Title</title>
</head>
<body style="background-color:silver";>
<center>
    <h1>LOGIN HERE</h1><br>
<form action="login" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter the username"><br>
    <input type="password" name="password" placeholder="Enter the Password"><br>
    <input type="submit"><br>


    <button type="button"><a href="{% url 'register' %}" class="btn btn-link">Register</a></button>





</form>
  {% for msg in messages %}
<h3>{{msg}}</h3>
{% endfor %}
    </center>

</body>
</html>